@using Microsoft.AspNetCore.Identity
@model Smart_Gym.Models.EjercicioRutina
@inject SignInManager<Usuario> SignInManager

@{
    ViewData["Title"] = "Delete";
    var rolesPermitidos = new[] { "Administrador", "Entrenador" }; //Crea un arreglo con los roles permitidos para editar y eliminar rutinas.
    var tieneRol = rolesPermitidos.Any(rol => User.IsInRole(rol)); //Verifica si el usuario tiene alguno de los roles permitidos.
}
@if (SignInManager.IsSignedIn(User)) //Esta función contola la vista, si el usuario está logueado.
{
    if (tieneRol)
    {
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
<div class="row border border-secondary p-3 w-40" style="border-radius:14px;">

<h1 class="mt-3" style="font-size:25px;">¿Desea eliminar el siguiente ejercicio?</h1>

<div>
    <h2 class="mt-5" style="font-size:20px;">Descripción del ejercicio</h2>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rutina)
        </dt>
        <dd class="col-sm-10">
            <div class="col-sm-6">
            @Html.DisplayFor(model => model.Rutina.NombreRutina)
            </div>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ejercicio)
        </dt>
        <dd class="col-sm-10">
            <div class="col-sm-6">
            @Html.DisplayFor(model => model.Ejercicio.NombreEjercicio)
            </div>
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repeticiones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repeticiones)
        </dd>

        
    </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdEjercicioRutina" />
            <input type="hidden" name="idRutina" value="@ViewBag.RutinaID" />
            <input type="submit" value="Eliminar ejercicio" class="btn btn-danger" style="border-radius: 14px;"  />

            <a class="btn btn-outline-secondary float-end" style="border-radius: 14px;"
               asp-controller="Rutinas" asp-action="Details" asp-route-id="@Model?.IdRutina">
                <i class="bi bi-arrow-left-circle me-2"></i>Volver
            </a>
        </form>
        </div>
    </div>
</div>

    }
    else
    {
        <div class="d-flex flex-column justify-content-center align-items-center vh-100">
            <div class="d-flex align-items-center mb-3">
                <i class="bi bi-emoji-frown-fill fs-1 mx-2"></i>
                <h1 class="m-0">Acceso denegado</h1>
            </div>

            <a class="btn btn-secondary text-white" style="border-radius: 14px;" asp-controller="Home" asp-action="Index">
                <i class="bi bi-arrow-left-circle mx-2"></i> Volver
            </a>
        </div>


    }
}