@model IEnumerable<Smart_Gym.Models.EjercicioRutina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary float-end" style="border-Radius:14px">Agregar rutina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rutina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ejercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeticiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                Opciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rutina.DescripcionRutina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ejercicio.DescripcionEjercicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repeticiones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Series)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEjercicioRutina">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEjercicioRutina">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEjercicioRutina">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
